.header-nav h3 {
  font-family: 'Lobster', cursive;
}

.header-nav ul li {
  font-size: 0.9em;
}

@media only screen and (max-width: 768px) {
  .header-nav ul li {
    display: list-item;
  }
}

.header-info {
  padding-top: 10%;
}

.header-info button {
  font-size: 0.8em;
}

img {
  max-width: 500px;
}

.features-item:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

main i {
  font-size: 1.4em;
  padding: 5px;
  margin-bottom: 5px;
}